<ng-template [ngIf]="!loading" [ngIfElse]="spinner">
  <mat-grid-list cols="2" rowHeight="2:1">

    <mat-grid-tile>
      <mat-grid-tile-header>
        Numero total de usuarios
      </mat-grid-tile-header>
      <app-number-card [number]="users.length"></app-number-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-grid-tile-header>
        Usuario con mas posts
      </mat-grid-tile-header>
      <app-number-card [number]="postsPerUserId[topPostingUser.id]" [name]="topPostingUser.name"></app-number-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-grid-tile-header>
        Usuario con mas todos completados
      </mat-grid-tile-header>
      <app-number-card [number]="todosPerUserId[topTodoUser.id]" [name]="topTodoUser.name"></app-number-card>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-grid-tile-header>
        Posts por usuarios
      </mat-grid-tile-header>
      <div class="chart">
        <app-graph-card [data]="postsDataSource" label="# de posts"></app-graph-card>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-grid-tile-header>
        Todos por usuarios
      </mat-grid-tile-header>
      <div class="chart">
        <app-graph-card [data]="todosDataSource" label="# de todos"></app-graph-card>
      </div>
    </mat-grid-tile>

    <mat-grid-tile>
      <mat-grid-tile-header>
        Albums por usuarios
      </mat-grid-tile-header>
      <div class="chart">
        <app-graph-card [data]="albumsDataSource" label="# de albums"></app-graph-card>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

</ng-template>

<ng-template #spinner>
  <div class="spinner-container">
    <mat-spinner color="primary"></mat-spinner>
  </div>
</ng-template>
