<h2 mat-dialog-title>¿Estas Seguro?</h2>
<mat-dialog-content>
  <span>Estas a punto de eliminar a estos usuarios</span>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close mat-dialog-close="false">Cancelar</button>
  <button mat-raised-button mat-dialog-close mat-dialog-close="true" color="warn">Eliminar</button>
</mat-dialog-actions>
