<ng-template [ngIf]="(todos && albums && posts)" [ngIfElse]="spinner">
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>person</mat-icon> Perfil
      </ng-template>
      <ng-template matTabContent>
        <app-profile-card [user]="user" [posts]="posts.length" [albums]="albums.length" [todos]="todos.length">
        </app-profile-card>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>message</mat-icon> Posts
      </ng-template>
      <ng-template matTabContent>
        <app-posts-card [posts]="posts"></app-posts-card>
      </ng-template>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon>photo_album</mat-icon> Album
      </ng-template>

      <app-albums-card [albums]="albums"></app-albums-card>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon> format_list_numbered</mat-icon> Todo
      </ng-template>

      <app-todos-card [todos]="todos"></app-todos-card>
    </mat-tab>
  </mat-tab-group>

</ng-template>


<ng-template #spinner>
  <div class="spinner-container">
    <mat-spinner color="primary"></mat-spinner>
  </div>
</ng-template>
