table {
  width: 100%;
}

.menuOptions {
  display: flex;
  justify-content: flex-end;
  margin-top: 1rem;
  margin-right: 1rem;
}

.userOptions {
  display: flex;
  justify-content: flex-end;
}



mat-icon {
  cursor: pointer;
}

.spinner-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
 }
