<h2 mat-dialog-title>Cambiar datos</h2>

<mat-dialog-content>
  <form [formGroup]="userForm" class="form-container">
    <mat-form-field hideRequiredMarker>
      <mat-label>Name</mat-label>
      <input matInput required  formControlName="name">
    </mat-form-field>

    <mat-form-field hideRequiredMarker>
      <mat-label>Username</mat-label>
      <input matInput required formControlName="username">
    </mat-form-field>

    <mat-form-field hideRequiredMarker>
      <mat-label>Email</mat-label>
      <input matInput required  formControlName="email">
    </mat-form-field>

    <mat-form-field hideRequiredMarker>
      <mat-label>Phone</mat-label>
      <input matInput required formControlName="phone">
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-raised-button mat-dialog-close mat-dialog-close>Cancelar</button>
  <button mat-raised-button [disabled]="!userForm.valid" (click)="handleForm()" color="primary">Guardar</button>
</mat-dialog-actions>


