<!-- <mat-list *ngFor="let todo of todos; let index">
  <mat-list-item> {{index + ". " + todo.title }} </mat-list-item>
 </mat-list> -->

<ul *ngFor="let todo of todos">
  <li [ngStyle]="{'text-decoration': todo.completed ? 'line-through': 'none'}">{{ todo.title }}</li>
</ul>
