mat-header {
  width: 100%;
}

mat-card-content {
  div {
    display: flex;
    mat-icon {
      margin-right: 8px;
    }
  }
}

.card {
  max-width: 400px;
}

.header-image {
  background-image: url('https://images.vexels.com/media/users/3/129733/isolated/preview/a558682b158debb6d6f49d07d854f99f-silueta-de-avatar-masculino-casual-by-vexels.png');
  background-size: cover;
}


