<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>{{ user.name }}</mat-card-title>
    <mat-card-subtitle>{{ user.username }}</mat-card-subtitle>
  </mat-card-header>
  <img
    src="https://images.vexels.com/media/users/3/129733/isolated/preview/a558682b158debb6d6f49d07d854f99f-silueta-de-avatar-masculino-casual-by-vexels.png"
    mat-card-image>

  <mat-card-content>
    <div>
      <mat-icon>email</mat-icon>
      <p>{{ user.email }}</p>
    </div>

    <div>
      <mat-icon>my_location</mat-icon>
      <p>{{ user.address.street + "," + user.address.city }}</p>
    </div>

    <div>
      <mat-icon>local_phone</mat-icon>
      <p>{{ user.phone }}</p>
    </div>

    <div>
      <mat-icon>code</mat-icon>
      <p>{{ user.website }}</p>
    </div>

    <div>
      <mat-icon>work</mat-icon>
      <p>{{ user.company.name }}</p>
    </div>

    <div>
      <mat-icon>message</mat-icon>
      <p>Posts:  {{ posts }}</p>
    </div>

    <div>
      <mat-icon>photo_album</mat-icon>
      <p>Albums:  {{ albums }}</p>
    </div>

    <div>
      <mat-icon>format_list_numbered</mat-icon>
      <p>Todos:  {{ todos }}</p>
    </div>
  </mat-card-content>
</mat-card>
