<mat-toolbar color="primary" class="navbar">
  <div>User Forum</div>
  <div>
    <div>
      <span routerLink="/dashboard">Dashboard</span>
      <span routerLink="/admin">Admin</span>
    </div>
  </div>
</mat-toolbar>
<router-outlet></router-outlet>
